<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="../../Backend/etc/menu.xsd">
    <menu>
        <add id="elogic_vendors::test" title="Vendors" module="ELogic_Vendors" sortOrder="30" parent="Magento_Catalog::inventory" action="elogic_vendors/items/" resource="ELogic_Vendors::items" />
    </menu>
</config>
